<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>

<body>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
        <label for="id">UserId</label>
        <input id="userid" name="userid" placeholder="userid" type="text" required />
        <label for="username">Username</label>
        <input id="username" name="un" placeholder="username" type="text" required />
        <label for="password">Password</label>
        <input id="password" name="pw" type="password" required />
        <button type="submit">Log In</button>
    </form>
</body>

</html>